.ml-auto {
    display: flex;
    justify-content: end;
    width: 100%;
}

.input-field {
    margin-right: 10px;
    margin-left: 10px;
}

.btn {
    margin-right: 10px;
}

.navbar-text {
    margin-right: 10px;
    color: white;
}

input {
    padding: 4px 6px;
    border-radius: 8px;
}